@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make main content fill width */
html,
body {
  width: 100vw;
  overflow-x: hidden;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: fixed;
  right: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* For Firefox */
* {
  scrollbar-width: thin;
}
